RewriteEngine On
RewriteBase /

# Redirect /v2 to /
RewriteRule ^v2/?$ / [R=301,L]

# Redirect /index.html to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]
